body {
  margin: 0;
  background: black;
  overflow: hidden;
  touch-action: none;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #000;
  touch-action: none;
}

#joystickContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  touch-action: none;
}

#joystick {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
  pointer-events: none;
}

#actionButton {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  user-select: none;
}
